@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

%padding {
  padding: .500em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.200em;
  outline: none;
}

p {
  background: #727272;
  @extend %padding;
}

thead> tr> td {
  font-weight: bold;
  background: #3498DB;
 
}

#phonebook {
  @extend %padding;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(3,209,1,0.8827906162464986) 10%, rgba(102,253,102,0.9192051820728291) 34%, rgba(204,53,0,0.8435749299719888) 79%, rgba(204,0,0,0.6867121848739496) 90%);
}

#phonebook,
p {
  margin: 1.000em;
  border-radius: 4px;
}

#search> * {
  display: inline-block;
  vertical-align: top;
  width: calc(100%/2 - .200em);
  color:white;
  background-color:black;
  border-radius:12px;
}

#btn {
  margin:1%;
  background-color:black;
  color:white;
  padding:10px;
  border:1px solid white;
  text-transform:uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing:1.2px;
}
#btn:hover {
  transform:scale(1.1);
    transition:1s;
 
}

#phonebook__form
 {
  
  width: 100%;
  @extend %padding;
  position:absolute;
  width:20%;
  left:35%;
  top:35%;
  height:50%;
  background: #66FF99; 
  background: -webkit-linear-gradient(to right, #66FF99, #66FF99, #66FF99); 
  background: linear-gradient(to right, #66FF99, #669900, #CC3333);  
   display:flex;
   justify-content:center;
   align-items:center;
   border-radius:10px;
   -webkit-box-shadow: 4px 4px 7px 12px rgba(102, 253, 102, 0.27);
-moz-box-shadow: 4px 4px 7px 12px rgba(204, 53, 0, 0.27);
box-shadow: 4px 4px 7px 12px rgba(204, 0, 0, 0.27);
}

#phonebook__result td {
  font-size: .500em;
  color:white;
  border-radius:10px;
  display:flex;
  margin:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  order:2;
}

.hide {
  display:none;
}

.img {
  width:40px;
  height:40px;
  position:absolute;
  margin-left:95px;
 
}

.favorite {
  order:1;
  
}

.buttonAdd {
  width:120px;
  height:40px;
  border-radius:12px;
}

#phonebook__result {
  display:flex;
}